* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 38px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}
